/* TOÀN TRANG */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}


.banner-section {
  position: relative;
  width: 100%;
  height: 750px; /* hoặc điều chỉnh tùy ý */
  overflow: hidden;
}


.banner-section video {
  position: absolute;
  min-width: 100%;
  right: 0;
  bottom: 0;
  object-fit: cover; /* Giúp video luôn phủ kín màn hình mà không méo */
  z-index: 0;
}


.banner-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%) translateX(-50px); /* ban đầu lệch nhẹ sang trái */
  opacity: 0; /* ban đầu ẩn */
  color: white;
  z-index: 1;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  transition: all 1s ease; /* hiệu ứng mượt */
}


/* Khi thêm class "show" bằng JS, nội dung sẽ trượt vào và hiện rõ */
.banner-content.show {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}




/* GIỚI THIỆU */
.intro-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  flex-wrap: wrap;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}


.intro-section.show {
  opacity: 1;
  transform: translateY(0);
}


.intro-content {
  flex: 1 1 45%;
}


.intro-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #222;
}


.intro-content p {
  font-size: 1.1em;
  line-height: 1.6;
}


.intro-image {
  flex: 1 1 45%;
  text-align: center;
}


.intro-image img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


/* LIÊN KẾT DANH MỤC */
.link-section {
  padding: 60px 10%;
  background-color: #f9f9f9;
}


.link-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 40px;
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.6s ease-out;
}


.link-card.show {
  opacity: 1;
  transform: scale(1);
}


.link-card img {
  flex: 1 1 50%;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}


.link-text {
  flex: 1 1 45%;
}


.link-text h2 {
  font-size: 2em;
  margin-bottom: 15px;
  color: #333;
}


.link-text p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
}


.btn-more {
  display: inline-block;
   padding: 12px 35px;
   border: 1px solid #ffffff;
   color: #ffffffff;
   text-decoration: none;
   font-size: 0.8em;
   transition: all 0.3s;
   width: fit-content;
   background-color: #333;
}


.btn-more:hover {
  border: 1px solid #ffffffff;
   background-color: #ffffff;
   color: #333;
}


/* PHẢN HỒI MOBILE */
@media (max-width: 768px) {
  .intro-section, .link-card {
    flex-direction: column;
    text-align: center;
  }


  .link-card:nth-child(even) {
    flex-direction: column-reverse;
  }
}






